<header class="shadow-sm bg-white">
    <!-- header-nav -->
    <nav aria-label="Navigation" class="navbar navbar-expand w-100 py-0">
        <div class="container-fluid justify-content-lg-between py-1">
            <div class="d-flex align-items-center justify-content-center" id="logo">
                <img src="./assets/images/logo.svg" alt="Logo" width="48" height="48">
                <span class="logo-text fs-5 fw-bold text-primary">TRACKER</span>
            </div>
        </div>
    </nav>
    <!-- /header-nav -->
</header>
<section class="bg-light page-not-found">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold mb-0">404</h1>
            <div class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</div>
            <div class="back-btn text-center text-primary mt-sm-2 mb-4 mb-lg-0 text-decoration-underline"
                (click)="backToHome()">Back to Home Page</div>
            <img src="/assets/images/page-not-found.png" alt="" width="100%">
        </div>
    </div>
</section>