/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #5e14b2;
    --primary-color-hover: #4c0b97;
    --black-color: #000000;
}

/* ====== global css ========= */

body {
    /* background-image: linear-gradient(to left, #5e14b29e, white); */
    font-family: 'Rubik', sans-serif;
}

/* color classes */
.bg-primary {
    background-color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

/* == bootstrap global override == */

/* form control  */
.form-control:focus,
.form-check-input:focus,
.form-select:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

.form-control,
.form-select {
    font-size: 1rem !important;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* pagination */
.pagination .active .page-link {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color);
    color: white !important;
}

.pagination .page-link {
    color: var(--black-color) !important;
}

.pagination .page-link:focus {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

/* dropdown */
.dropdown .dropdown-menu .dropdown-item:focus,
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}