aside {
    width: 300px;
    overflow-x: hidden;
    transition: width 0.5s;
}

.aside-hide {
    width: 0px;
}

aside .nav-link {
    color: var(--black-color);
}

aside .nav .nav-item .active,
aside .nav .nav-item .nav-link.active:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

aside .nav .nav-item .nav-link:hover,
aside .nav .nav-item .nav-link:focus {
    color: var(--primary-color);
}
#asideToggleBtn{
    cursor: pointer;
}
/* header css */
header .dropdown .show {
    left: auto;
    right: 0;
}

header #aside-toggle-btn {
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}

header .navbar.nav-link:focus,
header .nav-link:hover {
    background-color: #f2f2f2;
}

/* main css */
main {
    margin-left: 301px;
    transition: margin-left 0.5s;
}

.main-full {
    margin-left: 0px;
    transition: margin-left 0.5s;
    z-index: 9999 !important;
}

/* breadcrumb css */
.breadcrumb-item.active {
    color: var(--primary-color);
}

/* toaster */
.delete-popup {
    z-index: 9999;
    opacity: 98%;
}
.delete-popup .btn-close:focus,.delete-popup .btn-close:focus-visible {
    box-shadow: none !important;
}
/* login toast */
#loginSuccessToast, #loginErrorToast,#registerSuccessToast, #registerErrorToast, #editSuccessToast, #editErrorToast{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999;
}