.alert-wrap {
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.alert-danger {
    top: 66px;
}

.dropdown {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da !important;

}

.dropdown:focus{
    border: 1px solid #5e14b2 !important;
}
.project-checkbox{
    left: 0px;
    top: 37px;
}
