<!-- aside nav-->
<aside class="bg-white shadow-sm fixed-top vh-100" *ngIf="asideHeader"
    [ngStyle]="{'transform': (aside==true) ? 'translateX(' + 0 + 'px)' : 'translateX(' + -300 + 'px)'}">
    <!-- logo -->
    <!-- row -->
    <div class="row mb-3 p-1">
        <!-- col -->
        <div class="border-bottom d-flex justify-content-center">
            <div class="d-flex align-items-center justify-content-center" id="logo">
                <img src="./assets/images/logo.svg" alt="Logo" width="48" height="48">
                <span class="logo-text fs-5 fw-bold text-primary">TRACKER</span>
            </div>
            <div class="text-primary mt-2 fw-bold" id="profileName"></div>
            <small class="text-center text-nowrap" id="profileDesignation"></small>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-12">
            <!-- ul -->
            <ul class="nav flex-column">
                <li class="nav-item mx-3 mb-2" *ngIf="adminPortal">
                    <a class="nav-link text-nowrap" routerLink="/admin-portal" routerLinkActive="active"><i
                            class="fa-solid fa-gauge"></i><span class="ms-3">Admin
                            Portal</span></a>
                </li>
                <li class="nav-item mx-3 mb-2" *ngIf="dashboard">
                    <a class="nav-link text-nowrap" routerLink="/dashboard" routerLinkActive="active"><i
                        class="fa-brands fa-wpforms"></i>
                        <span class="ms-3">Dashboard</span></a>
                </li>
            </ul>
            <!-- /ul -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    <!-- /logo -->
</aside>
<!-- /aside nav-->