/* aside styling */
aside {
    width: 300px;
    overflow-x: hidden;
    z-index: 99999 !important;
}

.aside-full {
    width: 300px;
    transform: translate(-300px);
    z-index: 99999 !important;

}

aside .nav-link {
    color: var(--black-color);
}

aside .nav .nav-item .active,
aside .nav .nav-item .nav-link.active:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

aside .nav .nav-item .nav-link:hover,
aside .nav .nav-item .nav-link:focus {
    color: var(--primary-color);
}

#asideToggleBtn {
    cursor: pointer;
}

@media (min-width: 300px) and (max-width: 768px) {
    aside {
        width: 0px;
    }

    .aside-full {
        width: 220px;
        transform: translate(0px);
    }
}