<section class="vh-100 bg-light">
      <!-- form confirmation alert -->
    <!-- error toast -->
    <div class="alert position-absolute p-2 shadow-sm ms-auto align-items-center alert-danger rounded-0" role="alert"
        *ngIf="errorAlert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div><span class="ms-2 small">Error! Please try again.</span>
            </div>
            <button type="button" class="btn-close me-0 small m-auto" aria-label="Close"
                (click)="cancelErrorAlert()"></button>
        </div>
    </div>
    <!-- /error toast -->
    <!-- success toast -->
    <div class="alert-wrap position-fixed bg-dark bg-opacity-75 vh-100 vw-100" *ngIf="success">
        <div class="alert shadow-sm align-items-center alert-success border-0 rounded-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <button type="button" class="btn-close btn-success-close me-0 small m-auto" aria-label="Close"
                    (click)="cancelErrorAlert()"></button>
                <!-- success svg -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"
                    width="96px" height="96px" fill-rule="nonzero" class="mb-2">
                    <g fill="#5e14b2" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <g transform="scale(10.66667,10.66667)">
                            <path
                                d="M12,2c-5.514,0 -10,4.486 -10,10c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-1.126 -0.19602,-2.2058 -0.54102,-3.2168l-1.61914,1.61914c0.105,0.516 0.16016,1.05066 0.16016,1.59766c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8c0,-4.411 3.589,-8 8,-8c1.633,0 3.15192,0.49389 4.41992,1.33789l1.43164,-1.43164c-1.648,-1.194 -3.66656,-1.90625 -5.85156,-1.90625zM21.29297,3.29297l-10.29297,10.29297l-3.29297,-3.29297l-1.41406,1.41406l4.70703,4.70703l11.70703,-11.70703z">
                            </path>
                        </g>
                    </g>
                </svg>
                <div class="text-center d-flex flex-column justify-content-center align-items-center"><span
                        class="ms-2 fs-5 text-dark">Time updated successfully.</span>
                    <button type="submit" class="btn btn-primary shadow-sm rounded-0 my-3" routerLink="/dashboard">Back
                        to Dashboard</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /success toast -->
    <!-- /form confirmation alert -->
    <div class="container-fluid">
        <!-- row -->
        <div class="row vh-100">
            <!-- col -->
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 m-auto">
                <!-- card -->
                <div class="card bg-white shadow-sm rounded-0 border-0">
                    <div class="card-body px-0 py-3">
                        <!-- row -->
                        <div class="row m-0">
                            <!-- col -->
                            <div class="col-12 px-4 mb-3 pb-2 border-bottom">
                                <h4 class="fw-bold text-primary">Track Time</h4>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-12 px-4">
                                <form [formGroup]="editTrackTimeForm">
                                    <div class="mb-3" hidden>
                                        <label class="form-label">currentUserId<span
                                                class="text-danger">*</span></label>
                                        <input class="form-control shadow-sm rounded-0" formControlName="currentUserId">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Date <span class="text-danger">*</span></label>
                                        <input type="date" class="form-control shadow-sm rounded-0"
                                            formControlName="date">
                                    </div>
                                    <div class="mb-3" hidden>
                                        <label class="form-label">dateOnly</label>
                                        <input class="form-control shadow-sm rounded-0" formControlName="dateOnly"
                                            >
                                    </div>
                                    <div class="mb-3" hidden>
                                        <label class="form-label">monthOnly</label>
                                       >
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-label">Time (hours)</label>
                                                <select class="form-select shadow-sm rounded-0" type="text"
                                                    formControlName="timeHours">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="15">16</option>
                                                    <option value="15">17</option>
                                                    <option value="15">18</option>
                                                    <option value="15">19</option>
                                                    <option value="15">20</option>
                                                    <option value="15">21</option>
                                                    <option value="15">22</option>
                                                    <option value="15">23</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Time (minutes)</label>
                                                <select class="form-select shadow-sm rounded-0"
                                                    formControlName="timeMinutes">
                                                    <option value="05">05</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="35">35</option>
                                                    <option value="40">40</option>
                                                    <option value="45">45</option>
                                                    <option value="50">50</option>
                                                    <option value="55">55</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Project <span class="text-danger">*</span></label>
                                        <select class="form-select shadow-sm rounded-0" formControlName="project">
                                            <option value="Project 1">Project 1</option>
                                            <option value="Project 2">Project 2</option>
                                            <option value="Project 3">Project 3</option>
                                            <option value="Project 4">Project 4</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Task <span class="text-danger">*</span></label>
                                        <select class="form-select shadow-sm rounded-0" formControlName="task">
                                            <option value="Development">Development</option>
                                            <option value="Designing">Designing</option>
                                            <option value="Testing">Testing</option>
                                            <option value="On Leave">On Leave</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea class="form-control shadow-sm rounded-0"
                                            formControlName="description"></textarea>
                                    </div>
                                    <div class="d-flex flex-column flex-sm-row justify-content-end py-3">
                                        <button [routerLink]="['/dashboard']"
                                            class="btn btn-danger shadow-sm rounded-0 mb-0 mb-sm-0 order-2 order-sm-1"><i
                                                class="fa-solid fa-xmark"></i><span class="ms-2">Cancel
                                                Now</span></button>
                                        <button (click)="editTrackTimeDetail(editTrackTimeForm.value)"
                                            class="btn btn-primary shadow-sm rounded-0 mb-2 mb-sm-0 ms-sm-3 order-1 order-sm-2"><i
                                                class="fa-solid fa-check"></i><span class="ms-2">Update</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <!-- /card -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
</section>