<section class="vh-100 bg-light">
    <!-- form confirmation alert -->
    <!-- error toast -->
    <div class="alert position-absolute p-2 shadow-sm ms-auto align-items-center alert-danger rounded-0" *ngIf="error"
        role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div><span class="ms-2 small">Inavlid login credentials.</span>
                <!-- <div class="small ms-2 text-light">Please enter valid credentials</div> -->
            </div>
            <button type="button" class="btn-close me-0 small m-auto" aria-label="Close"
                (click)="cancelErrorAlert()"></button>
        </div>
    </div>
    <!-- /error toast -->
    <!-- /form confirmation alert -->
    <div class="container-fluid">
        <!-- row -->
        <div class="row vh-100 m-auto d-flex justify-content-center align-items-center">
            <!-- col -->
            <div class="col-xxl-4 col-xl-5 col-md-6 col-sm-12 d-none d-md-block">
                <!-- <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 m-auto"> -->
                <div class="d-md-flex d-block">
                    <div class="d-flex align-items-center justify-content-center" id="logo">
                        <img src="./assets/images/logo.svg" alt="Logo" width="80" height="80" class="logo-image">
                        <span class="logo-text fs-2 fw-bold text-primary">TRACKER</span>
                    </div>
                </div>
                <div class="fs-4 mt-2 d-md-block d-none">Tracker helps you connect and manage your everyday tasks with
                    ease. Track your work with us in simple and significant way!</div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
                <!-- card -->
                <div class="card bg-white shadow-sm rounded-0 border-0">
                    <div class="card-body px-0 py-3">
                        <!-- row -->
                        <div class="row m-0">
                            <!-- col -->
                            <div class="col-12 px-4 mb-3 pb-2 border-bottom">
                                <h4 class="fw-bold text-primary">Login with Us!</h4>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-12 px-4">
                                <form [formGroup]="loginForm" novalidate>
                                    <div class="mb-3">
                                        <label class="form-label">Email <span class="text-danger">*</span></label>
                                        <input class="form-control shadow-sm rounded-0" name="email"
                                            formControlName="email">
                                        <div class="text-danger small mt-2"
                                            *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].untouched)">
                                            <div
                                                *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors['required']">
                                                Email is Required
                                            </div>
                                            <div
                                                *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors['email']">
                                                Include @ in the email address
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 position-relative">
                                        <label class="form-label">Password <span class="text-danger">*</span></label>
                                        <!-- password svg -->
                                        <svg height="16px" width="16px" class="position absolute password-svg" version="1.1" id="_x32_"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
                                            xml:space="preserve">
                                            <g>
                                                <path #fill: #000000; d="M512,282.163c-0.881-1.49-21.826-38.71-63.998-76.621c-21.106-18.932-47.584-38.03-79.667-52.494
		c-32.041-14.455-69.743-24.183-112.337-24.162c-42.595-0.014-80.296,9.707-112.341,24.162
		c-48.12,21.722-83.626,53.753-107.33,80.244C12.627,259.846,0.644,281.037,0,282.163l29.331,16.484l13.676,7.749l0.024-0.042
		l0.007-0.014c0.895-1.629,20.324-34.688,56.487-66.326c18.068-15.848,40.244-31.331,66.274-42.786
		c26.061-11.456,55.91-18.96,90.199-18.974c35.104,0.014,65.561,7.881,92.056,19.798c39.685,17.848,70.324,45.171,90.808,68.131
		c10.245,11.462,17.938,21.785,22.98,29.1c2.525,3.657,4.385,6.566,5.574,8.49c0.594,0.966,1.02,1.679,1.286,2.119l0.252,0.448
		l0.042,0.063l9.707-5.518l-9.734,5.469L512,282.163z" />
                                                <path #fill: #000000 d="M255.999,210.339c-47.71,0-86.388,38.674-86.388,86.391c0,47.71,38.678,86.384,86.388,86.384
		c47.71,0,86.388-38.674,86.388-86.384C342.386,249.014,303.708,210.339,255.999,210.339z" />
                                            </g>
                                        </svg>
                                        <input type="{{passwordType}}" class="form-control password-input shadow-sm rounded-0"
                                            name="password" formControlName="password">
                                        <div class="text-danger small mt-2"
                                            *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].untouched)">
                                            <div
                                                *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']">
                                                Password is Required
                                            </div>
                                        </div>
                                        <div class="text-end my-2"><a routerLink="/forgot-password"
                                                class="text-decoration-none text-dark">Forgot Passsword?</a></div>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input rounded-0 shadow-sm">
                                        <label class="form-check-label">Remember me</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary shadow-sm rounded-0 w-100 mb-3"
                                        (click)="loginClick()">Login
                                        Now</button>
                                    <div class="text-center">Don't have an account? <a routerLink="/register"
                                            class="text-dark">Register
                                            here!</a></div>
                                </form>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <!-- /card -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
</section>