/* .text-primary {
    color: var(--primary-color) !important;
} */
/* logo */
@media (min-width: 300px) and (max-width: 768px){
    .logo-image{
        width: 48px;
        height: 48px;
    }
    .logo-text{
        font-size: 20px !important;
    }
}
