/* password input */
.password-input{
    padding-right: 35px;
}
/* password-svg */
.password-svg{
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 44px;
}
.remember, #rememberMe{
    cursor: pointer !important;
}
/* logo */
@media (min-width: 300px) and (max-width: 768px){
    .logo-image{
        width: 48px;
        height: 48px;
    }
    .logo-text{
        font-size: 20px !important;
    }
}
