    <section>
        <div class="container-fluid">
            <!-- row -->
            <div class="row vh-100">
                <!-- col -->
                <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 m-auto">
                    <!-- card -->
                    <div class="card bg-white shadow-sm rounded-0 border-0">
                        <div class="card-body px-0 py-3">
                            <!-- row -->
                            <div class="row m-0">
                                <!-- col -->
                                <div class="col-12 px-4 mb-3 pb-2 border-bottom">
                                    <h4 class="fw-bold text-primary">Forgot Password?</h4>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-12 px-4">
                                    <form>
                                        <div class="mb-3">
                                            <label class="form-label">Email <span class="text-danger">*</span></label>
                                            <input type="email" placeholder="john@gmail.com"
                                                class="form-control shadow-sm rounded-0" required>
                                        </div>
                                        <button type="submit"
                                            class="btn btn-primary shadow-sm rounded-0 w-100 my-3">Send Email</button>
                                            <div class="text-center">Got the password? <a routerLink="/login"
                                                class="text-dark">Login here!</a></div>
                                    </form>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
                        </div>
                    </div>
                    <!-- /card -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
    </section>