<section class="container-fluid position-relative">
    <div>
        <!-- breadcrumb -->
        <div class="row">
            <div class="col py-3">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="#"><i
                                    class="fa-solid fa-house"></i><span class="ms-3">Home</span></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- /breadcrumb -->
        <!-- main-card -->
        <div class="card rounded-0 shadow-sm border-0">
            <div class="card-header bg-white py-3 d-flex justify-content-between align-items-center">
                <h4 class="fw-bold text-primary mb-0">Dashboard</h4>
                <button id="canceldeletePopup"
                    class="btn btn-primary shadow-sm rounded-0 mb-0 mb-sm-0">Track Time</button>
            </div>
            <div class="card-body py-5">
                <!-- row -->
                <div class="row justify-content-evenly">
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours today</p>
                                <div><span class="fw-bold fs-2 text-primary">8</span><span class="ms-2">/hours</span></div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours this month</p>
                                <div><span class="fw-bold fs-2 text-primary">23</span><span class="ms-2">/hours</span></div>

                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours Total</p>
                                <div><span class="fw-bold fs-2 text-primary">32</span><span class="ms-2">/hours</span></div>

                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours Total</p>
                                <div><span class="fw-bold fs-2 text-primary">14</span><span class="ms-2">/hours</span></div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours Total</p>
                                <div><span class="fw-bold fs-2 text-primary">52</span><span class="ms-2">/hours</span></div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours Total</p>
                                <div><span class="fw-bold fs-2 text-primary">82</span><span class="ms-2">/hours</span></div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                 <!-- row -->
                 <div class="row justify-content-evenly">
                    <!-- col -->
                    <div class="col-xl-8 col-md-6 col-12">
                        <!-- card -->
                        <div class="card bg-white mb-3 shadow-sm rounded-0">
                            <div class="card-body p-0">
                                <table class="table table-striped mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">4</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">5</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">6</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-4 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0 text-center d-flex align-items-center flex-column">
                                <div class="fs-3 text-primary">Congratulations!</div>
                                <p class="text-muted">For your achievements this week</p>
                                <img src="assets/images/congratulations.png" width="100px" alt="" class="mb-2">
                                <p class="text-muted w-50">Keep up the good work and recieve more rewards from us. Boom!</p>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <!-- row -->
                <div class="row justify-content-evenly">
                    <!-- col -->
                    <div class="col-xl-7 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm pt-3">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/images/upgrade.png" alt="" width="80%" class="mb-2">
                                    </div>
                                    <div class="col-8">
                                        <div class="fs-3 text-primary">Upgrade account!</div>
                                        <p class="text-muted">Lorem ipsum dolor sit dam deleniti animi. Eres teoru it dam deleniti animi. Eres teoru it dam deleniti animi. Eres teoruit dam deleniti animi. Eres teorum aliquid! Consequuntur, minus.</p>
                                        <button id="canceldeletePopup"
                                        class="btn btn-primary shadow-sm rounded-0 mb-0 mb-sm-0">Upgrade Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-5 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/images/upgrade.png" alt="" width="100%" class="mb-2">
                                    </div>
                                    <div class="col-8">
                                        <div class="fs-3 text-primary">Upgrade account!</div>
                                        <p class="text-muted">Lorem ipsum dolor sit dam deleniti animi. Eres teorum aliquid! Consequuntur, minus.</p>
                                        <button id="canceldeletePopup"
                                        class="btn btn-primary shadow-sm rounded-0 mb-0 mb-sm-0">Upgrade Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <div class="card-footer border-0 bg-white py-3">
            </div>
        </div>
        <!-- /main-card -->
    </div>
</section>