<section class="container-fluid">
    <div>
        <!-- breadcrumb -->
        <div class="row">
            <div class="col py-3">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="#"><i
                                    class="fa fa-home" aria-hidden="true"></i><span class="ms-3">Home</span></a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- /breadcrumb -->
        <!-- main-card -->
        <div class="card rounded-0 shadow-sm border-0">
            <div class="card-header bg-white py-3 d-flex justify-content-between align-items-center">
                <h4 class="fw-bold text-primary mb-0">Dashboard</h4>
                <button id="canceldeletePopup" [routerLink]="['/track-time']"
                    class="btn btn-primary shadow-sm rounded-0 mb-0 mb-sm-0"><i class="fa-solid fa-plus small"></i><span> Track Time</span></button>
            </div>
            <div class="card-body py-5">
                <!-- row -->
                <div class="row justify-content-evenly">
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours today</p>
                                <div><span class="fw-bold fs-2 text-primary">8</span><span class="ms-2">/hours</span></div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours this month</p>
                                <div><span class="fw-bold fs-2 text-primary">23</span><span class="ms-2">/hours</span></div>

                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours Total</p>
                                <div><span class="fw-bold fs-2 text-primary">32</span><span class="ms-2">/hours</span></div>

                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours Total</p>
                                <div><span class="fw-bold fs-2 text-primary">14</span><span class="ms-2">/hours</span></div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours Total</p>
                                <div><span class="fw-bold fs-2 text-primary">52</span><span class="ms-2">/hours</span></div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-2 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <p class="card-text">Hours Total</p>
                                <div><span class="fw-bold fs-2 text-primary">82</span><span class="ms-2">/hours</span></div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                 <!-- row -->
                 <div class="row justify-content-evenly">
                    <!-- col -->
                    <div class="col-xl-8 col-md-6 col-12">
                        <!-- card -->
                        <div class="card bg-white mb-3 shadow-sm rounded-0">
                            <div class="card-body p-0">
                                <table class="table table-striped mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>
                                            <a 
                                            class="bg-white text-success btn rounded-0 shadow-sm border py-1 px-2 text-decoration-none"><i class="text-primary fa-sharp fa-solid fa-pencil"></i></a>
                                        <a 
                                            class="bg-white text-success btn rounded-0 shadow-sm border py-1 px-2 text-decoration-none"><svg height="16px"
                                            width="16px" class="position absolute password-svg" version="1.1" id="_x32_"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
                                            xml:space="preserve">
                                            <g>
                                                <path #fill: #000000; d="M512,282.163c-0.881-1.49-21.826-38.71-63.998-76.621c-21.106-18.932-47.584-38.03-79.667-52.494
            c-32.041-14.455-69.743-24.183-112.337-24.162c-42.595-0.014-80.296,9.707-112.341,24.162
            c-48.12,21.722-83.626,53.753-107.33,80.244C12.627,259.846,0.644,281.037,0,282.163l29.331,16.484l13.676,7.749l0.024-0.042
            l0.007-0.014c0.895-1.629,20.324-34.688,56.487-66.326c18.068-15.848,40.244-31.331,66.274-42.786
            c26.061-11.456,55.91-18.96,90.199-18.974c35.104,0.014,65.561,7.881,92.056,19.798c39.685,17.848,70.324,45.171,90.808,68.131
            c10.245,11.462,17.938,21.785,22.98,29.1c2.525,3.657,4.385,6.566,5.574,8.49c0.594,0.966,1.02,1.679,1.286,2.119l0.252,0.448
            l0.042,0.063l9.707-5.518l-9.734,5.469L512,282.163z" />
                                                <path #fill: #000000 d="M255.999,210.339c-47.71,0-86.388,38.674-86.388,86.391c0,47.71,38.678,86.384,86.388,86.384
            c47.71,0,86.388-38.674,86.388-86.384C342.386,249.014,303.708,210.339,255.999,210.339z" />
                                            </g>
                                        </svg></a>  
                                        </td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>
                                            <a 
                                            class="bg-white text-success btn rounded-0 shadow-sm border py-1 px-2 text-decoration-none"><i class="text-primary fa-sharp fa-solid fa-pencil"></i></a>
                                        <a 
                                            class="bg-white text-success btn rounded-0 shadow-sm border py-1 px-2 text-decoration-none"><svg height="16px"
                                            width="16px" class="position absolute password-svg" version="1.1" id="_x32_"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
                                            xml:space="preserve">
                                            <g>
                                                <path #fill: #000000; d="M512,282.163c-0.881-1.49-21.826-38.71-63.998-76.621c-21.106-18.932-47.584-38.03-79.667-52.494
            c-32.041-14.455-69.743-24.183-112.337-24.162c-42.595-0.014-80.296,9.707-112.341,24.162
            c-48.12,21.722-83.626,53.753-107.33,80.244C12.627,259.846,0.644,281.037,0,282.163l29.331,16.484l13.676,7.749l0.024-0.042
            l0.007-0.014c0.895-1.629,20.324-34.688,56.487-66.326c18.068-15.848,40.244-31.331,66.274-42.786
            c26.061-11.456,55.91-18.96,90.199-18.974c35.104,0.014,65.561,7.881,92.056,19.798c39.685,17.848,70.324,45.171,90.808,68.131
            c10.245,11.462,17.938,21.785,22.98,29.1c2.525,3.657,4.385,6.566,5.574,8.49c0.594,0.966,1.02,1.679,1.286,2.119l0.252,0.448
            l0.042,0.063l9.707-5.518l-9.734,5.469L512,282.163z" />
                                                <path #fill: #000000 d="M255.999,210.339c-47.71,0-86.388,38.674-86.388,86.391c0,47.71,38.678,86.384,86.388,86.384
            c47.71,0,86.388-38.674,86.388-86.384C342.386,249.014,303.708,210.339,255.999,210.339z" />
                                            </g>
                                        </svg></a>  
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-4 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0 text-center d-flex align-items-center flex-column">
                                <div class="fs-3 text-primary">Congratulations!</div>
                                <p class="text-muted">For your achievements this week</p>
                                <img src="assets/images/congratulations.png" width="100px" alt="" class="mb-2">
                                <p class="text-muted w-50">Keep up the good work and recieve more rewards from us. Boom!</p>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <!-- row -->
                <div class="row justify-content-evenly">
                    <!-- col -->
                    <div class="col-xl-7 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm pt-3">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/images/upgrade.png" alt="" width="80%" class="mb-2">
                                    </div>
                                    <div class="col-8">
                                        <div class="fs-3 text-primary">Upgrade account!</div>
                                        <p class="text-muted">Lorem ipsum dolor sit dam deleniti animi. Eres teoru it dam deleniti animi. Eres teoru it dam deleniti animi. Eres teoruit dam deleniti animi. Eres teorum aliquid! Consequuntur, minus.</p>
                                        <button id="canceldeletePopup"
                                        class="btn btn-primary shadow-sm rounded-0 mb-0 mb-sm-0">Upgrade Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xl-5 col-md-6 col-12">
                        <!-- card -->
                        <div class="card rounded-0 bg-white mb-3 shadow-sm py-3">
                            <div class="card-body py-0">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/images/upgrade.png" alt="" width="100%" class="mb-2">
                                    </div>
                                    <div class="col-8">
                                        <div class="fs-3 text-primary">Upgrade account!</div>
                                        <p class="text-muted">Lorem ipsum dolor sit dam deleniti animi. Eres teorum aliquid! Consequuntur, minus.</p>
                                        <button id="canceldeletePopup"
                                        class="btn btn-primary shadow-sm rounded-0 mb-0 mb-sm-0">Upgrade Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <div class="card-footer border-0 bg-white py-3">
            </div>
        </div>
        <!-- /main-card -->
    </div>
</section>