<div class="spinner bg-white position-fixed vw-100" *ngIf="loader">
    <!-- col -->
    <div class="d-flex justify-content-center spinner-logo">
        <div class="d-flex align-items-center justify-content-center vh-100" id="logo">
            <img src="./assets/images/logo.svg" alt="Logo" width="80" height="80">
            <span class="logo-text fs-3 fw-bold text-primary">TRACKER</span>
        </div>
        <div class="text-primary mt-2 fw-bold" id="profileName"></div>
        <small class="text-center text-nowrap" id="profileDesignation"></small>
    </div>
    <!-- /col -->
</div>
<section id="layout">
    <!-- aside nav-->
    <app-aside-nav></app-aside-nav>
    <!-- /aside nav-->
    <!-- main -->
    <main class="bg-light " [ngStyle]="{'margin-left.px': (mainMargin==true && asideHeader==true) ? 301 : 0}">
        <!-- header -->
        <app-header></app-header>
        <!-- /header -->
        <!-- main body -->
        <section class="body-wrapper" [ngStyle]="{'padding-top.px': (asideHeader==true) ? 56 : 0}">
            <!-- main-content -->
            <router-outlet></router-outlet>
            <!-- /main-content -->
        </section>
        <!-- /main body -->
    </main>
    <!-- /main -->
</section>