<header class="w-100 position-fixed shadow-sm bg-white">
    <!-- header-nav -->
    <nav aria-label="Navigation" class="navbar navbar-expand w-100 py-0">
        <div class="container-fluid justify-content-end justify-content-lg-between">
            <div class="order-2 order-lg-1 border rounded-circle shadow-sm p-2" id="asideToggleBtn">
                <!-- menu-svg -->
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                    </path>
                </svg>
                <!-- /menu-svg -->
            </div>
            <div class="order-1 order-lg-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link p-3" href="#">
                            <!--wishlist-svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-heart align-middle">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg>
                            <!--/wishlist-svg-->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3" href="#">
                            <!--notification-svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-bell align-middle">
                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                            </svg>
                            <!--/notification-svg-->
                        </a>
                    </li>
                    <li class="nav-item dropdown user-dropdown">
                        <a class="nav-link p-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <!--profile-svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
                                </path>
                            </svg>
                            <!--/profile-svg-->
                        </a>
                        <ul class="dropdown-menu p-0 shadow-sm rounded-0 border"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item py-2 border-bottom" href="#"><i
                                        class="fa-regular fa-user"></i><span class="ms-3">Profile</span></a>
                            </li>
                            <li><a class="dropdown-item py-2 border-bottom" href="#"><i
                                        class="fa-solid fa-gear"></i><span class="ms-3">Settings</span></a>
                            </li>
                            <li><a class="dropdown-item py-2" href="#"><i
                                        class="fa-solid fa-power-off"></i><span
                                        class="ms-3">Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /header-nav -->
</header>