/* header styling */
header {
    z-index: 9999;
    position: fixed;
    right: 0;
    transition: all 0.5s;
}

header .dropdown .show {
    left: auto;
    right: 0;
}

header #aside-toggle-btn {
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}

/* header .navbar.nav-link:focus,
header .nav-link:hover {
    background-color: #f2f2f2;
} */

#asideToggleBtn {
    cursor: pointer;
}

/* logout */
.logout {
    cursor: pointer;
}

.header-calc {
    width: calc(100% - 300px);
}

.header-full {
    width: 100%;
}
.user-dropdown{
    cursor: pointer;
}
@media (min-width: 300px) and (max-width: 768px) {
    .header-calc {
        width: 100%;
    }

    header .dropdown .show {
        left: auto;
    }
}